<!doctype html>
<html>
    <head>
        <title>{{title1}}</title>
        <style>
            .error {
                color: red;
            }
            ul {
                list-style: none;
            }
        </style>
    </head>
<body>

    <div style='float: right'>
        {% if 'email' in session %}
          {{ session['email'] }} &nbsp | &nbsp <a href='/'>Main Blog Page</a> &nbsp | &nbsp <a href='/newpost'>Add a Blog Entry</a>
            &nbsp | &nbsp <a href='/logout'>Log Out</a>
          
        {% else %}
        <a href='/'>Main Blog Page</a> &nbsp | &nbsp <a href='/newpost'>Add a Blog Entry</a> &nbsp | &nbsp <a href='/login'>Log In</a>
            &nbsp | &nbsp <a href='/signup'>Sign Up</a> 
        {% endif %}
    </div>


    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>