{% extends "base.html" %}

{% block content %}
<style>
    h1 {
        text-align: center;
        padding: 20px;
        margin: 0 auto;
    }

</style>
<h1>Blogz</h1>
<ul class="unstyled">
    {% for blog in blogs %}
    <hr>
        <li>
            <a href='/blog?id={{ blog.id }}'><h2>{{ blog.title }}</h2></a>
        </li>
        <li><p>{{ blog.body }}<p></li>
        <small>Written By: <a href='/user?user={{ blog.owner_id }}'>{{ blog.owner.email }}</a></small>
    
    {% endfor %}
</ul>

{% endblock %}